body{
    background-color: rgb(131, 207, 252);
}

#soleil {
    margin: 0 auto;
    height: 200px;
    width: 200px;
    background-color: rgb(219, 172, 53);
    border-radius: 50%;
}

#etoile {
    height: 180px;
    width: 180px;
    background-color: rgb(247, 224, 96);
    border-radius: 50%;
}